.item{
    border: slateblue solid 2px;
    border-radius: 2px;
    width: 300px;
    padding: 5px;
    margin: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item button{
    border-radius: 50%;
    border: none;
    color: white;
    outline: none;
    font-size: 16px;
    background-color: slateblue;
    transition-duration: .4s;
    cursor: pointer;
}

.item button:hover{
    background-color: red;
    transform: rotate(180deg);
}

.item input{
    margin-right: 5px;
}

.item label{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.done{
    text-decoration: line-through;
}
