.wrapper {
    display: flex;
    margin-bottom: 30px;

}

.post_content {
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color:  rgb(48, 47, 47);
}


.like{
    color: lightseagreen;
    font-size: 14px;
    cursor: pointer;
}